<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799109632704-a4f8rgjcn2lv06ib4hlr5l6r5ectjukl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799109632704-a4f8rgjcn2lv06ib4hlr5l6r5ectjukl</string>
	<key>API_KEY</key>
	<string>AIzaSyBK9Jr0gFU5GhDDPyy0n3uikmELn1woNH8</string>
	<key>GCM_SENDER_ID</key>
	<string>799109632704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chatter-23fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-23fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799109632704:ios:5a8bce4b5427dbe38e5325</string>
</dict>
</plist>